@tailwind base;
/* Firefox */

@tailwind components;
@tailwind utilities;


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    scroll-behavior: smooth;
    -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
   /* IE 10 and IE 11 */
  user-select: none;
    /* color: #a3a2e9; */
}
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 2s infinite;
}
.ce-popover-item__icon{
  border: none;
}
.codex-editor path{
  color: #1F72FD;
}
h1{
  font-size: 32px;
  font-weight: bold;
}

h2{
  font-size: 24px;
  font-weight: bold;
}
h2 > a{
  color: #ffffff;

}
h3{
  font-size: 18.72px;
  font-weight: bold;
}
h4{
  font-size: 16px;
  font-weight: bold;
}
h5{
  font-size: 16px;
  font-weight: bold;
}
h6{
  font-size: 10.72px;
  font-weight: bold;
}
.cdx-list__item{
  color: #2b2d2e;
}
.ce-paragraph {
  color: #2b2d2e
}
.ce-paragraph > a {
  color: #1F72FD
}

/* @media screen and (max-width:2560px){ 
  .custom-height{
    height: calc(100%-108px);
    background-color: aqua;
  }
}

@media screen and (max-width: 1440px) {
  .custom-height{
    height: calc(100%-70px);
    background-color: red;
  }
} */

/* d3d3d6 */

/* 
* 
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) #ffff;
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 5px;

}

*::-webkit-scrollbar-thumb {
  background-color: #234E70;
  border-radius: 14px;
  border: 1.8px solid #ffff;
} */